Repository DataDog/datadog-agent-boshrelease, pull requests merged in 2020-01, with the labels that each got.

#102 Add standard files
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  NOTICE
  README.md
  RELEASING.md
  SUPPORT.md
  jobs/dd-agent/templates/bin/agent_ctl
  jobs/dd-agent/templates/bin/pre-start
  jobs/dd-agent/templates/bin/process_agent_ctl
  jobs/dd-agent/templates/bin/trace_agent_ctl
  jobs/dd-agent/templates/config/confd.sh.erb
  jobs/dd-agent/templates/data/properties.sh.erb
  packages/dd-agent/packaging
  src/helpers/agent-setup.sh
  src/helpers/datadog-agent
  src/helpers/ensure_directories.sh
  src/helpers/lib.sh
  src/helpers/setup.sh
Labels: documentation

#105 Update readme info
  README.md
Labels: documentation, severity/minor

#109 Add option to enable system-probe
  jobs/dd-agent/monit
  jobs/dd-agent/spec
  jobs/dd-agent/templates/bin/system_probe_ctl
  jobs/dd-agent/templates/config/system-probe.yaml.erb
Labels: changelog/Added, kind/feature-request
