Repository DataDog/datadog-agent-boshrelease, pull requests merged in 2020-09, with the labels that each got.

#129 Remove usage of Bosh links in favor of DNS aliases
  jobs/dd-agent/spec
  jobs/dd-agent/templates/config/datadog.yaml.erb
Labels: backward-incompatible, changelog/Changed

#130 Release 4.0.0
  .final_builds/jobs/dd-agent/index.yml
  CHANGELOG.md
  config/blobs.yml
  releases/datadog-agent/datadog-agent-4.0.0.yml
  releases/datadog-agent/index.yml
Labels: changelog/no-changelog, documentation

#131 Configure path to eBPF libs for system probe
  jobs/dd-agent/templates/config/system-probe.yaml.erb
Labels: changelog/Fixed

#132 Properly duplicate new DCA settings in system probe configuration
  jobs/dd-agent/templates/config/system-probe.yaml.erb
Labels: changelog/Fixed

#133 Release 4.0.1
  .final_builds/jobs/dd-agent/index.yml
  .final_builds/packages/dd-agent/index.yml
  CHANGELOG.md
  config/blobs.yml
  packages/dd-agent/packaging
  packages/dd-agent/spec
  releases/datadog-agent/datadog-agent-4.0.1.yml
  releases/datadog-agent/index.yml
Labels: changelog/no-changelog, documentation

#134 Specify aggregates and percentiles as arrays in Datadog agent config
  jobs/dd-agent/templates/config/datadog.yaml.erb
Labels: changelog/Fixed
