Repository DataDog/datadog-agent-boshrelease, pull requests merged in 2021-03, with the labels that each got.

#144 Add option to append VM UUID to generated friendly hostnames
  jobs/dd-agent/spec
  jobs/dd-agent/templates/config/datadog.yaml.erb
Labels: changelog/Added

#143 Fix issue with process check when trying to access BPM processes
  src/helpers/ensure_directories.sh
Labels: changelog/Fixed

#146 Release 4.4.0
  .final_builds/jobs/dd-agent/index.yml
  .final_builds/packages/dd-agent/index.yml
  CHANGELOG.md
  config/blobs.yml
  packages/dd-agent/packaging
  packages/dd-agent/spec
  releases/datadog-agent/datadog-agent-4.4.0.yml
  releases/datadog-agent/index.yml
Labels: changelog/no-changelog, documentation

#147 Fix appending VM GUID to friendly hostname
  jobs/dd-agent/templates/config/datadog.yaml.erb
Labels: changelog/Fixed

#148 Release 4.4.1
  .final_builds/jobs/dd-agent/index.yml
  CHANGELOG.md
  config/blobs.yml
  releases/datadog-agent/datadog-agent-4.4.1.yml
  releases/datadog-agent/index.yml
Labels: changelog/no-changelog, documentation
