Repository DataDog/datadog-agent-boshrelease, pull requests merged in 2023-07, with the labels that each got.

#195 Bump embedded Datadog Agent version to 7.46.0
  packages/dd-agent/packaging
Labels: changelog/Added

#196 Revert to #/bin/bash in gitlab job scripts
  scripts/build.sh
  scripts/prepare.sh
  scripts/release.sh
Labels: changelog/no-changelog

#197 Fix Release 4.14.0
  .final_builds/jobs/dd-agent/index.yml
  .final_builds/license/index.yml
  .final_builds/packages/dd-agent/index.yml
  config/blobs.yml
  releases/datadog-agent/datadog-agent-4.14.0.yml
  releases/datadog-agent/index.yml
  scripts/build.sh
Labels: changelog/no-changelog

#188 Fix python packaging and running the snowflake integration on CF
  src/helpers/setup.sh
Labels: changelog/Fixed
